/**
 * defaults.css
 *
 * Stylesheet for common/default Disqus UI components (think popups, tooltips, etc).
 *
 * NOTE: Most of these elements are wrapped with the 'dsq-cleanslate' class (see
 *       cleanslate.css), which aggressively resets css on a container level. This
 *       is why you'll see a lot of !important tags here.
 */

/**
  * CleanSlate
  *   github.com/premasagar/cleanslate
  */
/* == BLANKET RESET RULES == */

/* HTML 4.01 */
.dsq-cleanslate, .dsq-cleanslate h1, .dsq-cleanslate h2, .dsq-cleanslate h3, .dsq-cleanslate h4, .dsq-cleanslate h5, .dsq-cleanslate h6, .dsq-cleanslate p, .dsq-cleanslate td, .dsq-cleanslate dl, .dsq-cleanslate tr, .dsq-cleanslate dt, .dsq-cleanslate ol, .dsq-cleanslate form, .dsq-cleanslate select, .dsq-cleanslate option, .dsq-cleanslate pre, .dsq-cleanslate div, .dsq-cleanslate table,  .dsq-cleanslate th, .dsq-cleanslate tbody, .dsq-cleanslate tfoot, .dsq-cleanslate caption, .dsq-cleanslate thead, .dsq-cleanslate ul, .dsq-cleanslate li, .dsq-cleanslate address, .dsq-cleanslate blockquote, .dsq-cleanslate dd, .dsq-cleanslate fieldset, .dsq-cleanslate li, .dsq-cleanslate strong, .dsq-cleanslate legend, .dsq-cleanslate em, .dsq-cleanslate s, .dsq-cleanslate cite, .dsq-cleanslate span, .dsq-cleanslate input, .dsq-cleanslate sup, .dsq-cleanslate label, .dsq-cleanslate dfn, .dsq-cleanslate object, .dsq-cleanslate big, .dsq-cleanslate q, .dsq-cleanslate font, .dsq-cleanslate samp, .dsq-cleanslate acronym, .dsq-cleanslate small, .dsq-cleanslate img, .dsq-cleanslate strike, .dsq-cleanslate code, .dsq-cleanslate sub, .dsq-cleanslate ins, .dsq-cleanslate textarea, .dsq-cleanslate var, .dsq-cleanslate a, .dsq-cleanslate abbr, .dsq-cleanslate applet, .dsq-cleanslate del, .dsq-cleanslate kbd, .dsq-cleanslate tt, .dsq-cleanslate b, .dsq-cleanslate i, .dsq-cleanslate hr,
/* , .dsq-cleanslate iframe */ /* commented out iframe because it was causing us grief */
/* HTML5 */
.dsq-cleanslate article, .dsq-cleanslate aside, .dsq-cleanslate dialog, .dsq-cleanslate figure, .dsq-cleanslate footer, .dsq-cleanslate header, .dsq-cleanslate hgroup, .dsq-cleanslate menu, .dsq-cleanslate nav, .dsq-cleanslate section, .dsq-cleanslate time, .dsq-cleanslate mark, .dsq-cleanslate audio, .dsq-cleanslate video {
    background-attachment:scroll !important;
    background-color:transparent !important;
    background-image:none !important; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
    background-position:0 0 !important;
    background-repeat:repeat !important;
    border-color:black !important;
    border-color:currentColor !important; /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
    border-radius:0 !important;
    border-style:none !important;
    border-width:medium !important;
    bottom:auto !important;
    clear:none !important;
    clip:auto !important;
    color:inherit !important;
    counter-increment:none !important;
    counter-reset:none !important;
    cursor:auto !important;
    direction:inherit !important;
    display:inline !important;
    float:none !important;
    font-family: inherit !important; /* As with other inherit values, this needs to be set on the root container element */
    font-size: inherit !important;
    font-style:inherit !important;
    font-variant:normal !important;
    font-weight:inherit !important;
    height:auto !important;
    left:auto !important;
    letter-spacing:normal !important;
    line-height:inherit !important;
    list-style-type: inherit !important; /* Could set list-style-type to none */
    list-style-position: outside !important;
    list-style-image: none !important;
    margin:0 !important;
    max-height:none !important;
    max-width:none !important;
    min-height:0 !important;
    min-width:0 !important;
    opacity:1;
    outline:invert none medium !important;
    overflow:visible !important;
    padding:0 !important;
    position:static !important;
    quotes: "" "" !important;
    right:auto !important;
    table-layout:auto !important;
    text-align:inherit !important;
    text-decoration:inherit !important;
    text-indent:0 !important;
    text-transform:none !important;
    top:auto !important;
    unicode-bidi:normal !important;
    vertical-align:baseline !important;
    visibility:inherit !important;
    white-space:normal !important;
    width:auto !important;
    word-spacing:normal !important;
    z-index:auto !important;

    /* Proprietary and draft rules */
    /* This section needs extending */
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
}

/* == BLOCK-LEVEL == */
/* Actually, some of these should be inline-block and other values, but block works fine (TODO: rigorously verify this) */
/* HTML 4.01 */
.dsq-cleanslate, .dsq-cleanslate h3, .dsq-cleanslate h5, .dsq-cleanslate p, .dsq-cleanslate h1, .dsq-cleanslate dl, .dsq-cleanslate dt, .dsq-cleanslate h6, .dsq-cleanslate ol, .dsq-cleanslate form, .dsq-cleanslate select, .dsq-cleanslate option, .dsq-cleanslate pre, .dsq-cleanslate div, .dsq-cleanslate h2, .dsq-cleanslate caption, .dsq-cleanslate h4, .dsq-cleanslate ul, .dsq-cleanslate address, .dsq-cleanslate blockquote, .dsq-cleanslate dd, .dsq-cleanslate fieldset, .dsq-cleanslate textarea, .dsq-cleanslate hr,
/* HTML5 new elements */
.dsq-cleanslate article, .dsq-cleanslate aside, .dsq-cleanslate dialog, .dsq-cleanslate figure, .dsq-cleanslate footer, .dsq-cleanslate header, .dsq-cleanslate hgroup, .dsq-cleanslate menu, .dsq-cleanslate nav, .dsq-cleanslate section {
    display:block !important;
}
.dsq-cleanslate table {
    display: table !important;
}
.dsq-cleanslate thead {
    display: table-header-group !important;
}
.dsq-cleanslate tbody {
    display: table-row-group !important;
}
.dsq-cleanslate tfoot {
    display: table-footer-group !important;
}
.dsq-cleanslate tr {
    display: table-row !important;
}
.dsq-cleanslate th, .dsq-cleanslate td {
    display: table-cell !important;
}
/* == SPECIFIC ELEMENTS == */
/* Some of these are browser defaults; some are just useful resets */

.dsq-cleanslate nav ul, .dsq-cleanslate nav ol {
    list-style-type:none !important;
}
.dsq-cleanslate ul, .dsq-cleanslate menu {
    list-style-type:disc !important;
}
.dsq-cleanslate ol {
    list-style-type:decimal !important;
}
.dsq-cleanslate ol ul, .dsq-cleanslate ul ul, .dsq-cleanslate menu ul, .dsq-cleanslate ol menu, .dsq-cleanslate ul menu, .dsq-cleanslate menu menu {
    list-style-type:circle !important;
}
.dsq-cleanslate ol ol ul, .dsq-cleanslate ol ul ul, .dsq-cleanslate ol menu ul, .dsq-cleanslate ol ol menu, .dsq-cleanslate ol ul menu, .dsq-cleanslate ol menu menu, .dsq-cleanslate ul ol ul, .dsq-cleanslate ul ul ul, .dsq-cleanslate ul menu ul, .dsq-cleanslate ul ol menu, .dsq-cleanslate ul ul menu, .dsq-cleanslate ul menu menu, .dsq-cleanslate menu ol ul, .dsq-cleanslate menu ul ul, .dsq-cleanslate menu menu ul, .dsq-cleanslate menu ol menu, .dsq-cleanslate menu ul menu, .dsq-cleanslate menu menu menu {
    list-style-type:square !important;
}
.dsq-cleanslate li {
    display:list-item !important;
    /* Fixes IE7 issue with positioning of nested bullets */
    min-height:auto !important;
    min-width:auto !important;
}
.dsq-cleanslate strong {
    font-weight:bold !important;
}
.dsq-cleanslate em {
    font-style:italic !important;
}
.dsq-cleanslate kbd, .dsq-cleanslate samp, .dsq-cleanslate code {
  font-family:monospace !important;
}
.dsq-cleanslate a, .dsq-cleanslate a *, .dsq-cleanslate input[type=submit], .dsq-cleanslate input[type=radio], .dsq-cleanslate input[type=checkbox], .dsq-cleanslate select {
    cursor:pointer !important;
}
.dsq-cleanslate a:hover {
    text-decoration:underline !important;
}
.dsq-cleanslate button, .dsq-cleanslate input[type=submit] {
  text-align: center !important;
}
.dsq-cleanslate input[type=hidden] {
    display:none !important;
}
.dsq-cleanslate abbr[title], .dsq-cleanslate acronym[title], .dsq-cleanslate dfn[title] {
    cursor:help !important;
    border-bottom-width:1px !important;
    border-bottom-style:dotted !important;
}
.dsq-cleanslate ins {
    background-color:#ff9 !important;
    color:black !important;
}
.dsq-cleanslate del {
    text-decoration: line-through !important;
}
.dsq-cleanslate blockquote, .dsq-cleanslate q  {
    quotes:none !important; /* HTML5 */
}
.dsq-cleanslate blockquote:before, .dsq-cleanslate blockquote:after, .dsq-cleanslate q:before, .dsq-cleanslate q:after, .dsq-cleanslate li:before, .dsq-cleanslate li:after  {
    content:"" !important;
}
.dsq-cleanslate input, .dsq-cleanslate select {
    vertical-align:middle !important;
}
.dsq-cleanslate select, .dsq-cleanslate textarea, .dsq-cleanslate input {
    border:1px solid #ccc !important;
}
.dsq-cleanslate input[type=radio], .dsq-cleanslate input[type=checkbox] {
    border: none !important;
}
.dsq-cleanslate table {
    border-collapse:collapse !important;
    border-spacing:0 !important;
}
.dsq-cleanslate hr {
    display:block !important;
    height:1px !important;
    border:0 !important;
    border-top:1px solid #ccc !important;
    margin:1em 0 !important;
}
.dsq-cleanslate *[dir=rtl] {
    direction: rtl !important;
}
.dsq-cleanslate mark {
    background-color:#ff9 !important;
    color:black !important;
    font-style:italic !important;
    font-weight:bold !important;
}

 /* == ROOT CONTAINER ELEMENT == */
 /* This contains default values for child elements to inherit  */
 .dsq-cleanslate {
    font-size: medium !important;
    line-height: 1 !important;
    direction:ltr !important;
    text-align:left !important;
    font-family: "Times New Roman", Times, serif !important; /* Override this with whatever font-family is required */
    color: black !important;
    font-style:normal !important;
    font-weight:normal !important;
    text-decoration:none !important;
    list-style-type:disc !important;
 }

/*  /cleanslate */

/**
 * General style rules
 */

#disqus_thread {
    margin-bottom: 10px;
}

.dsq-brlink {
    font-size: 10px;
}

.dsq-hidden {
    display: none !important;
}

.logo-disqus {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
}

/**
 * Content
 */

#dsq-content .dsq-alert-message {
    background-color:#FDF1D0;
    border:1px solid #FAD163;
    line-height: 1.25;
    padding: 5px 8px;
    color: #817134;
    margin: 10px 0;
    clear: left;
}

#dsq-content .dsq-alert-message a {
    color: #516361;
}

#dsq-content .dsq-alert-message.dsq-error {
    background-color: #FCA09A;
    border-color: #90040B;
    color: #341922;
}

#dsq-content .dsq-alert-message.dsq-error a {
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 115%;
}

/**
 * Iframes
 */
#dsq-content iframe,
.dsq-popup iframe {
    border: 0;
    overflow-y: auto;
    overflow-x: hidden;
    *overflow-x: visible;
    width: 100%;
    background-color: transparent;

    /* Set in thread.js

    width: 0px; (if IE7) */
}

/*
    For the expanding form-area iframe, we don't want to show any scrollbars
    this fixes a FF flashing scrollbars problem. If this ever gets expanded to
    all iframe, will want to expand the scope of this rule.
*/
#dsq-content #dsq-form-area iframe {
    overflow: hidden;
}

#dsq-login-iframe-wrapper iframe {
    height: 340px;
}

#dsq-content iframe.dsq-post-reply,
#dsq-popup-alert iframe.dsq-post-reply {
    height: 300px;
}

#dsq-content iframe.dsq-post-reply-authenticated,
#dsq-popup-alert iframe.dsq-post-reply-authenticated {
    height: 170px;
}

#dsq-content #dsq-comments .dsq-header-avatar img {
    /* Set in thread.js
    display: none; (if not integration.show_avatar) */
}

/**
 * Popup : Blacklist
 */
.dsq-popup .dsq-blacklist-option {
    padding: 5px 10px;
    border-bottom: 1px dotted #E5EBED;
}


/**
 * Popup : Help
 */
.dsq-popup ul.dsq-popup-help {
    margin: 0 10px;
}

#dsq-popup-message.dsq-popup ul.dsq-popup-help li {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #E5EBED;
}

.dsq-popup ul.dsq-popup-help li.dsq-help-otheraccts {
    font-weight: bold;
    font-size: 110%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#dsq-popup-message ul.dsq-list-tick li {
    list-style: none inside url("../../images/tick.png") !important;
    display: list-item;
}

#dsq-popup-message ul.dsq-list-bluebullet li {
    list-style: none inside url("../../images/bullet_blue.png");
    display: list-item;
}

#dsq-popup-message li {
    margin: 10px 0;
    padding: 0 10px;
    border-bottom: 1px dotted #E5EBED;
}

#dsq-popup-message li li {
    padding-left: 10px;
}


/**
 * Popup : Login
 */
.dsq-popup iframe#dsq-popup-login {
    margin-top: 10px;
    height:310px;
    width: 100%;
}

.dsq-popup-login .dsq-popup-content {
    width: 420px;
}


/**
 * Popup : Remote Account Settings
 */
.dsq-popup iframe#dsq-popup-account-settings {
    width: 100%;
    height: 400px;
}

.dsq-popup-account-settings .dsq-popup-content {
    width: 500px;
}

/**
 * Popup : Moderate Options
 */
.dsq-moderate-options table {
    background-color: #E5EBED;
    padding: 10px;
    width: 400px;
    margin: 10px auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.dsq-moderate-options table td {
    padding: 4px;
}

.dsq-moderate-options table ul {
    margin: 0;
    padding: 0;
}

.dsq-moderate-options table li {
    margin-bottom: 5px;
}

/**
 * Popup: Thread Settings
 */
table.dsq-moderator-settings td {
    vertical-align: top;
    border-bottom: solid 1px #fff;
    padding: 10px 6px;
}

table.dsq-moderator-settings td.last {
    border-bottom: none;
}

table.dsq-moderator-settings td p.dsq-form-actions {
    text-align: right;
    margin-top: 5px;
}

span.dsq-options-status {
    margin-left: 10px;
    color: #799c42;
}

/**
 * Popup: Thread Settings (deprecated? CNN-only?)
 */
#dsq-content .dsq-thread-settings {
    clear: left;
    background: transparent url('../../images/themes/narcissus/header-grey.png');
    border: solid 1px #999;
    margin-bottom: 1em;
    padding:6px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

#dsq-content .dsq-thread-settings a {
    margin-right: 10px;
}

/**
 * Popup: Thread Help
 */
#dsq-popup-message ul.dsq-thread-help {
    margin: 0;
    padding: 0;
}

#dsq-popup-message ul.dsq-thread-help li {
    margin: 10px 0;
    padding: 0;
    list-style: disc inside;
    display: list-item;
}

#dsq-popup-message ul.dsq-thread-help li p {
    font-size: 11px;
    color: #555;
    padding-left: 5px;
}

/**
 * Media embed
 */

.dsq-popup.dsq-media-embed img {
    max-width: 500px;
    max-height: 500px;
}

/*
 * Pagination
 */

#dsq-content .dsq-paginate-append-text { display: none; }
#dsq-content .dsq-paginate-all-button { display: none; }
#dsq-content .dsq-paginate-append-button { display: inline; }

/* Moderator debugging information (bottom of thread) */

#dsq-content .dsq-global-moderator-extras {
    font-size: 11px;
}

#dsq-content .dsq-global-moderator-extras strong:first-child {
    margin-left: 0;
}

#dsq-content .dsq-global-moderator-extras strong {
    margin-left: 10px;
}

/* Share toggle buttons */

#dsq-content button.dsq-share-toggle {
    border: 0;
    background: none;
    font-size: 12px;
    color: #333;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 5px 0 0;
}

#dsq-content button.dsq-share-toggle span.dsq-share-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#dsq-content button.dsq-share-toggle span.dsq-share-status {
    display:block;
    width: 9px;
    height: 9px;
    position: absolute;
    top: -3px;
    font-size: 1%;

}

#dsq-content button.dsq-share-toggle.dsq-share-toggled span.dsq-share-status {
    display:block;
    width: 9px;
    height: 9px;
    position: absolute;
    right: -1px;
    top: -3px;
    background: url(../../images/themes/narcissus/share-status.png) 0 -9px;
}

#dsq-content #dsq-share-twitter.dsq-share-toggled, #dsq-content #dsq-share-facebook.dsq-share-toggled {

    color: #fff;
    text-shadow: 0 1px 0 #2E619D;
}

#dsq-content button.dsq-share-toggle span.checkbox {
    display: inline-block;
}

#dsq-content #dsq-share-twitter span.dsq-share-icon {
    background: url(../../images/social-icons/twitter_muted.png);
}

#dsq-content #dsq-share-facebook span.dsq-share-icon {
    background: url(../../images/social-icons/facebook_muted.png);
}

#dsq-content #dsq-share-twitter.dsq-share-toggled span.dsq-share-icon {
    background: url(../../images/social-icons/twitter.png);
}

#dsq-content #dsq-share-facebook.dsq-share-toggled span.dsq-share-icon {
    background: url(../../images/social-icons/facebook.png);
}

/* Global Toolbar */
#dsq-content #dsq-global-toolbar {
    margin: 1em 0;
}

#dsq-content #dsq-global-toolbar table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#dsq-content #dsq-global-toolbar table td {
    vertical-align: top !important;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    font-size: 12px !important;
}

#dsq-content .dsq-global-toolbar-likes {
    width: 100%;
    overflow: hidden;
}

#dsq-content .dsq-global-toolbar-likes a {
    float: left;
}

#dsq-content .dsq-global-toolbar-likes p {
    float: left;
    margin: 3px 0 0;
}

#dsq-content #dsq-global-toolbar .dsq-toolbar-item {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 2px 0 0;
    text-indent: -9999em !important;
    height: 22px;
    display: block;
}

#dsq-content #dsq-toolbar-dropdown {
    position: relative;
}

#dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap {
    position: absolute;
    right: 0;
    top: 25px;
    background: #000;
    width: 90px;
    color: #fff;
    background: url(../../images/toolbar/toolbar-dropdown.png);
    -moz-border-radius: 3px 0 3px 3px;
    -webkit-border-radius: 3px 0 3px 3px;
    padding: 6px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.3);
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    z-index: 1000;
}

#dsq-content #dsq-toolbar-dropdown:hover #dsq-toolbar-dropdown-wrap {
    display: block !important;
}

#dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap a {
    color: #eee !important;
}
    #dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap a:hover {
        color: #fff !important;
    }

#dsq-content #dsq-toolbar-dropdown #dsq-toolbar-dropdown-wrap ul li h4 {
    margin: 0 0 8px;
    padding: 0;
}

#dsq-content #dsq-toolbar-dropdown .dsq-login-buttons {
    margin: 0;
    padding: 0;
}

#dsq-content #dsq-toolbar-dropdown .dsq-login-buttons li {
    margin: 0 0 3px;
    padding: 0;
}

#dsq-content #dsq-global-toolbar.dsq-community-preview .dsq-toolbar-logo {
    width: 73px;
    background: url(../../images/toolbar/toolbar-sprite.png) -123px 0;
    margin: 0 0 3px 0;
}

#dsq-global-toolbar.dsq-community-preview #dsq-toolbar-dropdown:hover .dsq-toolbar-logo {
    background: url(../../images/toolbar/toolbar-sprite.png) -123px -22px;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    height: 25px;
    margin: 0;
}

#dsq-content #dsq-global-toolbar .dsq-thread-like {
    width: 54px;
    background: url(../../images/toolbar/toolbar-sprite.png);
    margin: 0px 4px 0px 0px;
}
    #dsq-content #dsq-global-toolbar #dsq-like-thread-button:hover  {
        background: url(../../images/toolbar/toolbar-sprite.png) 0 -22px !important;
    }

    #dsq-content #dsq-global-toolbar #dsq-like-thread-button.dsq-toggled  {
        background: url(../../images/toolbar/toolbar-sprite.png) 0 -44px !important;
        -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    }

#dsq-content #dsq-global-toolbar .dsq-thread-dislike {
    width: 23px;
    background: url(../../images/toolbar/toolbar-sprite.png) -54px 0;
    margin:0 1em 0 0;
}

    #dsq-content #dsq-global-toolbar #dsq-dislike-thread-button:hover {
        background: url(../../images/toolbar/toolbar-sprite.png) -54px -22px;
    }

    #dsq-content #dsq-global-toolbar #dsq-dislike-thread-button.dsq-toggled {
        background: url(../../images/toolbar/toolbar-sprite.png) -54px -44px;
    }

#dsq-content #dsq-global-toolbar .dsq-admin-settings {
    width: 23px;
    background: url(../../images/toolbar/toolbar-sprite.png) -100px 0;
}

    #dsq-content #dsq-global-toolbar .dsq-admin-settings:hover {
        width: 23px;
        background: url(../../images/toolbar/toolbar-sprite.png) -100px -22px;
    }

    #dsq-content #dsq-global-toolbar a.dsq-admin-settings:active {
        background: url(../../images/toolbar/toolbar-sprite.png) -100px -22px;
    }

#dsq-content #dsq-global-toolbar .dsq-community-launcher {
    width: 23px;
    background: url(../../images/toolbar/toolbar-sprite.png) -77px 0;
}

    #dsq-content #dsq-global-toolbar .dsq-community-launcher:hover {
        width: 23px;
        background: url(../../images/toolbar/toolbar-sprite.png) -77px -22px;
    }

    #dsq-content #dsq-global-toolbar a.dsq-community-launcher:active {
        background: url(../../images/toolbar/toolbar-sprite.png) -77px -22px;
    }



#dsq-content .dsq-global-toolbar-likes .dsq-group {
    float: left;
    margin: 0 0 5px 0;
}

/* Like Faces */

#dsq-content .dsq-like-faces {
    overflow: hidden;
    float: left;
}

#dsq-content .dsq-like-faces li {
    float: left;
    margin: 0 5px 5px 0;
}

#dsq-content .dsq-like-faces li img {
    width: 22px;
    height: 22px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0;
}

#dsq-content .dsq-like-faces li a {
    float: none;
}

#dsq-content .dsq-like-activity {
    padding: 5px 0 0;
    white-space: nowrap;
}

/* Login Dropdown */

#dsq-content #dsq-logo-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 3px
}

#dsq-content #dsq-logo-dropdown .dsq-logo {
    display: block;
    float: left;
    font-size: 1%;
    margin-top: 2px;
}
.dsq-community-preview #dsq-logo-dropdown .dsq-logo {
    width: 65px;
    height: 13px;
    background: url(../../images/toolbar/toolbar-sprite.png) 0 -102px;
}

.dsq-community-preview #dsq-logo-dropdown:hover .dsq-logo {
    background: url(../../images/toolbar/toolbar-sprite.png) 0 -115px;
}

#dsq-content #dsq-logo-dropdown a.dsq-dropdown-arrow {
    display: block;
    width: 16px;
    height: 22px;
    background: url(../../images/themes/narcissus/dsq-login-dropdown-icon.png) center center no-repeat;
    text-indent: -9999em;
    position: relative;
    z-index: 2;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 0 0;
    border-radius: 3px 3px 0 0;
    vertical-align: middle;
    float: left;
    margin: -2px 1px 1px;
}

#dsq-content #dsq-logo-dropdown:hover a.dsq-dropdown-arrow,
#dsq-content #dsq-logo-dropdown a.dsq-dropdown-arrow.dsq-visible {
    border: 1px solid #999;
    border-bottom: 1px solid #fff;
    background: rgba(255, 255, 255, 1) url(../../images/themes/narcissus/dsq-login-dropdown-icon.png) center center no-repeat;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    display: block;
    float: left;
    margin: -3px 0 0;
}

#dsq-content #dsq-logo-dropdown ul.dsq-dropdown-menu {
    position: relative;
    display: none;
    color: #333;
    margin-top: 3px;
    background: #fff;
    z-index: 200;
}

#dsq-content #dsq-logo-dropdown:hover ul.dsq-dropdown-menu,
#dsq-content #dsq-logo-dropdown ul.dsq-dropdown-menu.dsq-visible {
    display: block !important;
    position: absolute;
    right: 0;
    top: 17px;
    background: #fff;
    border: 1px solid #999;
    z-index: 1;
    padding: 12px;
    -moz-box-shadow: 0 1px 4px #ccc;
    -webkit-box-shadow: 0 1px 4px #ccc;
    -moz-border-radius: 5px 0 5px 5px;
    -webkit-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
}

#dsq-content #dsq-logo-dropdown ul li {
    display: block;
    float: none;
    width: 89px;
    margin-bottom: 3px;
}

#dsq-content #dsq-logo-dropdown ul.dsq-dropdown-menu h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    text-transform: none !important;
    font-weight: bold !important;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

/* --------------------------- Captcha -------------------------------------------*/

#dsq-captcha p {
    margin: 0 0 10px !important;
}

#dsq-captcha button {
    margin: 10px 0 0;
}

/**
 * Popup
 */

.dsq-overlay {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background-color:#000;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.dsq-overlay[id] {
    position:fixed;
}

.dsq-popup h4,
.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol,
.dsq-popup div,
.dsq-popup table,
.dsq-popup td,
.dsq-popup th,
.dsq-popup p,
.dsq-popup a,
.dsq-popup cite,
.dsq-popup img {
    border: 0;
    padding: 0;
    margin: 0;
    float: none;
    text-indent: 0;
    background: none;
}

.dsq-popup h1, .dsq-popup h2, .dsq-popup h3, .dsq-popup h4 {
    position: static;
}

.dsq-popup table {
    border-collapse: separate;
    border-spacing: 0;
}

.dsq-popup {
    display: none;
    position: absolute;
    z-index: 9999;
    padding: 0;
    border: 0;

    font-size: 13px;
    color: #333;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.dsq-popup table {
    border-collapse: separate !important;
    border-spacing: 0 !important;
}
.dsq-popup p {
    margin-bottom: 8px !important;
}

.dsq-popup[id] {
    position: fixed !important;
}

.dsq-popup img {
    max-width: none !important;
    border: none; /* ignores by cleanslate */
}

.dsq-popup ul,
.dsq-popup li,
.dsq-popup ol {
    list-style-type: none !important;
    list-style-image: none !important;
    background: none !important;
    display: block !important;
}

.dsq-popup li:before {
    content: "" !important;
}

.dsq-popup p,
.dsq-popup ul {
    color: #333 !important;
    line-height: 1.22em !important;
}

.dsq-popup a {
    color: #1C5392 !important;
}

.dsq-popup a:hover {
    color: #869AAD !important;
}

.dsq-popup .dsq-popup-top {
    position: relative !important !important;
    text-align: right !important !important;
    width: 520px !important !important;
    height: 20px !important !important;
    background: transparent url("../../images/embed/popup-top.png") no-repeat !important !important;
}

.dsq-popup .dsq-popup-top img {
    margin: 12px 13px 0 0 !important;
    *margin: 12px 13px 0 0 !important;
}

.dsq-popup .dsq-popup-bottom {
    text-align: right !important;
    width: 520px !important;
    height: 20px !important;
    background: transparent url("../../images/embed/popup-bottom.png") no-repeat !important;
}

.dsq-popup .powered-by{
    font-size: 90% !important;
    text-align: right !important;
    margin-top: 10px !important;
    padding-top: 10px !important;
    border-top: 1px solid #ddd !important;
}

.dsq-popup .dsq-popup-body div.powered-by a {
    color: #888 !important;
    text-decoration:none !important;
}

.dsq-popup  .dsq-popup-body {
    width: 520px !important;
    background: transparent url("../../images/embed/popup-body.png") repeat-y !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link {
    color: #7aa5d5 !important;
    position: absolute !important;
    top: -8px !important;
    right: 5px !important;
    text-decoration: none !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-header a.dsq-close-link img {
    width: 23px !important;
    height: 24px !important;
    border: 0 !important;
}

.dsq-popup .dsq-subscribe-submit {
    margin: 0 auto !important;
    padding: 0 10px !important;
    color: #222 !important;
}

.dsq-popup .dsq-subscribe-submit input {
    font-size: 110% !important;
    width: 200px !important;
}

.dsq-popup p.dsq-popup-notice {
    padding: 5px !important;
    margin: 20px 0 0 0 !important;
    background-color: #fdf1d0 !important;
    border: 1px solid #fad163 !important;
}

.dsq-popup .dsq-popup-body div.show-more {
    padding-left: 10px !important;
    font-size: 95% !important;
    color:#7aa5d5 !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding {
    padding: 0 10px !important;
    font-size: 13px !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-header {
    background-color: #e5ebed !important;
    padding: 0 10px !important;
    position: relative !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #445460 !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-header img {
    border: 1px solid #fff !important;
    width: 32px !important;
    height: 32px !important;
    vertical-align: middle !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    margin-left: 5px !important;
    font-style: normal !important;
    vertical-align: middle !important;
}

.dsq-popup .dsq-popup .dsq-popup-body .dsq-popup-body-padding cite {
    position: static !important;
    margin: 0 !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding cite span {
    font-weight: bold !important;
    font-size: 150% !important;
    font-style: normal !important;
    margin-right: 10px !important;
    vertical-align: middle !important;
}

.dsq-popup .dsq-popup-body .dsq-popup-body-padding .dsq-popuplink {
    margin: 0 0 0 5px !important;
    font-size: 90% !important;
}

/**
 * New popup
 */

.dsq-popup-container {
    position: relative !important;
    font-size: 13px !important;
    color: #333 !important;
    text-align: left !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

.dsq-popup-container table {
    border-collapse: collapse  !important;
}

/* cleanslate normally clears this */
.dsq-popup-container td {
    border-bottom: 0 !important;
    padding: 0 !important;
}

.dsq-popup-container .dsq-popup-body {
    padding: 10px !important;
    background: #fff !important;
    width: 370px !important; /* default size */
}

.dsq-popup-login .dsq-popup-body {
    width: 340px !important;
}

.dsq-popup-container .dsq-popup-b { background:url("../../images/facebox/b.png") !important; }
.dsq-popup-container .dsq-popup-tl { background:url("../../images/facebox/tl.png") !important; }
.dsq-popup-container .dsq-popup-tr { background:url("../../images/facebox/tr.png") !important; }
.dsq-popup-container .dsq-popup-bl { background:url("../../images/facebox/bl.png") !important; }
.dsq-popup-container .dsq-popup-br { background:url("../../images/facebox/br.png") !important; }

.dsq-popup-container .dsq-popup-tl,
.dsq-popup-container .dsq-popup-tr,
.dsq-popup-container .dsq-popup-bl,
.dsq-popup-container .dsq-popup-br {
    height: 10px !important;
    width: 10px !important;
    overflow: hidden !important;
}

.dsq-popup-container div.dsq-popup-title {
    position: static !important;
    text-align: left !important;
    height: auto !important;
    width: 100% !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    background: #555 !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#777777', endColorstr='#323232');
    background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#323232)) !important;
    background: -moz-linear-gradient(top,  #777,  #323232) !important;
    border-bottom: 1px solid #000 !important;
    overflow: hidden !important;
}

.dsq-popup-container .dsq-popup-title img {
    /* cleanslate clears this if present */
    margin: 0 !important;
}

.dsq-popup-container .dsq-popup-title button {
    -moz-border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
}

.dsq-popup-container .dsq-popup-title h3 {
    color: #fff !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-shadow: 0 1px 3px #333 !important;
    margin: 0px; /* cleanslate handles if present */
}

.dsq-popup-container h4 {
    margin: 0; /* cleanslate clears this if present */
    font-size: 14px !important;
    font-weight: bold !important;
}
/* Login Popup */

#dsq-login-iframe-wrapper {
    height: 320px !important;
}

/* Tabbed Login Popup */

.dsq-popup .dsq-tabbed-modal {
    overflow: hidden !important;
    border: 1px solid #ddd !important;
    background: url(../../images/dsq-login-tabs-bg.jpg) repeat-y !important;
}

* html .dsq-popup .dsq-tabbed-modal {
    height: 1% !important; /* forces hasLayout in IE6 */
}

.dsq-login-box .dsq-popup-body {
    width: 546px !important;
}

.dsq-popup .dsq-modal-tabs {
    float: left !important;
    width: 148px !important;
    padding: 0 0 20px 0 !important;
    display: inline !important;
}

* html .dsq-popup .dsq-modal-tabs,
* html .dsq-popup .dsq-tab-container {
    _display: inline !important; /* Fix IE box model */
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li {
    /* cleanslate clears this if present */
    margin: 0;
    padding: 0;
    border: 0;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a {
    display: block !important;
    border-bottom: 1px dotted #bbb !important;
    padding: 14px 12px !important;
    text-decoration: none !important;
    font-size: 14px !important;
    font-weight: bold !important;
    color: #999 !important;
    text-shadow: 0 1px 0 #fff !important;
    margin: 0 !important; /* cleanslate clears this if present */
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a:hover {
    background: url(../../images/dsq-login-tabs-bg-hover.jpg) repeat-y !important;
    color: #E5EBED !important;
    text-shadow: 0 -1px 0 #333 !important;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.last a {
    border-bottom: none !important;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.dsq-active a{
    background: #fff !important;
    color: #666 !important;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li.dsq-active a:hover {
    text-shadow: none !important;
}

#dsq-popup-message.dsq-popup .dsq-modal-tabs li a span {
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
    vertical-align: text-bottom !important;
    margin: 0 7px 0 0 !important;
}

#dsq-login-disqus iframe {
    height: 340px !important;
/*    width: 300px !important;*/
}

#dsq-login-tab-guest span    { background: url(../../images/social-icons/guest.png) !important; }
#dsq-login-tab-disqus span   { background: url(../../images/social-icons/disqus.png) !important; }
#dsq-login-tab-google span   { background: url(../../images/social-icons/google.png) !important; }
#dsq-login-tab-twitter span  { background: url(../../images/social-icons/twitter.png) !important; }
#dsq-login-tab-facebook span { background: url(../../images/social-icons/facebook.png) !important; }
#dsq-login-tab-yahoo span    { background: url(../../images/social-icons/yahoo.png) !important; }
#dsq-login-tab-openid span   { background: url(../../images/social-icons/openid.png) !important; }
/* NOTE: The SSO tab icon is set manually in ui.js */

.dsq-popup .dsq-tab-container {
    float: left !important;
    padding: 25px 0 25px 30px !important;
    font-size: 14px !important;

}
#dsq-tabbed-login-modal .dsq-tab-container {
    width: 336px !important;
}

#dsq-popup-message.dsq-popup .powered-by {
    border-top: 0 !important;
    padding: 0 0 5px 0 !important;
}

/* hidden by default */

.dsq-tab-container .dsq-tab-content {
    height: 100% !important;
    width: 100% !important;
    display:none !important;
}

.dsq-tab-content small {
    font-size: 11px !important;
}

/* Facebook / Twitter Connect / Yahoo / Disqus signin buttons */

.dsq-popup span.dsq-external-launcher {
    display: block !important;
    width: 150px !important;
    height: 22px !important;
}

.dsq-popup span.dsq-google-connect { background: url("../../images/embed/google_signin.png") !important; }
.dsq-popup span.dsq-facebook-connect { background: url("../../images/embed/facebook_signin.png") !important; }
.dsq-popup span.dsq-twitter-connect  { background: url("../../images/embed/twitter_signin.png") !important; }
.dsq-popup span.dsq-yahoo-connect    { background: url("../../images/embed/yahoo_signin.png") !important; }
.dsq-popup span.dsq-disqus-connect   { background: url("../../images/embed/disqus_signin.png") !important; }

.dsq-popup span.dsq-external-launcher:hover  { background-position: 0 - 24px !important; }
.dsq-popup span.dsq-external-launcher:active { background-position: 0 - 48px !important; }

.dsq-connect-msg, .dsq-remote-authentication {
    height: 200px !important;
}

/* Remote Auth loader */

.dsq-remote-authentication {}

.dsq-remote-authentication img {
    width: 32px !important;
    height: 32px !important;
    margin: 0 auto 20px auto !important;
    display: block !important;
}

.dsq-remote-authentication p {
    text-align: center !important;
}

.dsq-popup-login #dsq-login-iframe-wrapper iframe {
    height: 355px !important;
}

.dsq-error {
    color: #c03000 !important;
}


/*
 * Raw popup (used for profile modals) has no padding or header/footer
 */
.dsq-popup-raw .powered-by { display: none; }
.dsq-popup-raw .dsq-popup-title { display: none; }
.dsq-popup-raw .dsq-popup-body { padding: 0 !important; }
.dsq-popup-raw .dsq-border {
    border: 7px solid #bbb;
    border: 7px solid rgba(0,0,0,.38);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 50px rgba(0,0,0,.35);
    -moz-box-shadow: 0 10px 50px rgba(0,0,0,.35);
    box-shadow: 0 10px 50px rgba(0,0,0,.35);
}
.dsq-popup-raw .dsq-popup-raw-container {
    background: url('../../images/loading.gif') center center no-repeat #fff;
    width: 100%;
    height: 100%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden; /* no scrollbars */
}
.dsq-popup-raw iframe {
    overflow: hidden;
    background: transparent;
}

/* ----------------------------------- Profile Edit ----------------------------------- */

.dsq-profile-edit-modal .dsq-popup-body {
    width: 650px !important;
}
#dsq-profile-edit-modal {
    width: 650px !important;
    height: 420px !important;
}

#dsq-profile-edit-modal .dsq-tab-container {
    width: 460px !important;
}
#dsq-profile-edit-modal .dsq-tab-container iframe {
    width: 450px !important; /* needs explicit pixels */
    height: 100% !important; /* seems fine */
}

/* ----------------------------------- Profile Modal ----------------------------------- */

.dsq-popup-raw .dsq-modal-close-btn {
    display: block;
    position: absolute;
    background: url(../../images/embed/profile/close-btn.png);
    width: 18px;
    height: 18px;
    z-index: 99999;
    right: 25px;
    top: 28px;
    text-indent: -9999em;
}

/* Buttons */

button::-moz-focus-inner { border: 0; }

button.dsq-button,
button.dsq-button-small {
    color: inherit;
    border: 1px solid #999;
    margin: 0;
    #margin: 0 3px;
    font-family: Arial, Helvetica, Calibri, sans-serif;
    overflow: visible;
    background: transparent url('../../images/themes/narcissus/button-large.png') repeat-x bottom left;
    _background-image: url('../../images/themes/narcissus/button-large.png');
}

button.dsq-button {
    padding: 6px 8px 6px;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button.dsq-button-small {
    padding: 2px 4px;
    font-size: 11px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

button.dsq-button-small:disabled, button.dsq-disabled-btn {
    opacity: .5;
    cursor: default !important;
}

button.dsq-button:hover,
button.dsq-button-small:hover {
    cursor: pointer;
}

button.dsq-button:active, button.dsq-button.dsq-toggled {
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#999999'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#999)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #666,  #999); /* for firefox 3.6+ */
    color: #fff;
    border: 1px solid #555;
    text-shadow: 0 1px 0 #666;
}

/**
 * Tooltips
 */

.dsq-tooltip {
    font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-size: 14px !important;
    position:relative !important;
    padding:20px 0 0 !important;
    color:#fff !important;
    background:#666 !important; /* default background for browsers without gradient support */
    -moz-border-radius:9px !important;
    -webkit-border-radius:9px !important;
    border-radius:9px !important;
    /* NOTE: webkit gradient implementation is not as per spec */
    background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#222)) !important;
    background:-moz-linear-gradient(top, #555, #222) !important;
    background:-o-linear-gradient(top, #555, #222) !important;
    background:linear-gradient(top, #555, #222) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222') !important;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7) !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7) !important;
    zoom: 1 !important;
    padding: 20px 0 0 !important;
}

.dsq-tooltip-outer { /* the one thing that doesn't require !important */
    padding: 0 0 19px;
    margin: 0 0 1em;
    background: url('../../images/tooltip-notch.png') 35px bottom no-repeat;
}


.dsq-tooltip a {
    font-weight: bold !important;
    color: #fff !important;
}

.dsq-tooltip-big .dsq-tooltip:after {
    content: "" !important;
    position: absolute !important;
    width: 98% !important;
    height: 30px !important;
    top: 0 !important;
    left: 1% !important;

    -webkit-border-radius:  0 0 15px 15px !important;
    background-image:       -webkit-gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.85) ), to( rgba(255,255,255,.5) ),
                    color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) ) !important;
    background-image:       -moz-linear-gradient(left, rgba(255,255,255,.85), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,.5) ) !important;
    background-image:       gradient(linear, 0% 0, 100% 0, from( rgba(255,255,255,.85) ), to( rgba(255,255,255,.5) ),
                    color-stop(.5, rgba(255,255,255,0)), color-stop(.8, rgba(255,255,255,0)) ) !important;
    opacity: .05 !important;
}

.dsq-tooltip h3 {
    margin: 0 20px 16px !important;
    padding: 0 !important;
    text-shadow: 0 -1px 0 #222 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
.dsq-tooltip input[type="checkbox"] {
    margin: 3px 0.5ex !important;
}
.dsq-tooltip a {
    text-decoration: underline !important;
}
.dsq-tooltip p {
    margin: 0 20px 0 !important;
    padding: 0 0 16px !important;
    color: #ccc !important;
    text-shadow: 0 -1px 0 #222 !important;
    display: block !important;
}

.dsq-tooltip ul {
    background: #222 !important;
    border-top: 1px solid #444 !important;
    -moz-border-radius:0 0 9px 9px !important;
    -webkit-border-radius:0 0 9px 9px !important;
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.9) !important;
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.9) !important;
    border-radius:0 0 9px 9px !important;
    overflow: hidden !important;
    padding: 10px !important;
    margin: 0 !important;
}

.dsq-tooltip ul li {
    float: right !important;
    list-style-type: none !important;
    margin: 0 0 0 4px !important;
}

.dsq-tooltip ul li a {
    font-size: 13px !important;
    display: block !important;
}

.dsq-tooltip ul li a.dsq-primary-action {
    height: 16px !important;
    background: #ccc !important;
    padding: 5px 10px !important;
    color: #333 !important;
    text-decoration: none !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    -moz-box-shadow: inset 0 1px 0 #fff !important;
    -webkit-box-shadow: inset 0 1px 0 #fff !important;
    text-shadow: 0 1px 0 #ddd !important;
    background:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)) !important;
    background:-moz-linear-gradient(top, #ccc, #999) !important;
    background:-o-linear-gradient(top, #ccc, #999) !important;
    background:linear-gradient(top, #ccc, #999) !important;
}

.dsq-tooltip ul li a.dsq-secondary-action {
    color: #ccc !important;
    padding: 4px 4px 0 0 !important;
}

/* Small Tooltips */

.dsq-tooltip-small { /* doesn't require !important */
    padding: 0 0 10px;
    background-image: url('../../images/tooltip-notch.png');
    background-position: 15px bottom;
    background-repeat: no-repeat;
}

.dsq-tooltip-small .dsq-tooltip {
    padding: 8px !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5) !important;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5) !important;
    font-size: 11px !important;
}

/* "Share This" tooltip */
#dsq-like-tooltip {
    display: none !important;
    width: 375px !important;
}

/* User Likes/Votes */
.dsq-popup .dsq-liked-by-user {
    margin-bottom: 10px !important;
}

.dsq-popup .dsq-liked-by-user a {
    text-decoration: none !important;
}

.dsq-popup .dsq-liked-by-user img {
    width: 32px !important;
    height: 32px !important;
    margin-right: 8px !important;
    vertical-align: middle !important;
}

.dsq-popup-user-votes {
    width: 350px !important;
    max-height: 400px !important;
}

.dsq-popup-user-votes ul {
    margin-bottom: 15px !important;
    max-height: 400px !important;
    _height: 400px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.dsq-popup-user-votes p {
    font-size: 11px !important;
    color: #666 !important;
}

/* Moderator options */

.dsq-moderate-options table {
    background-color: #E5EBED !important;
    padding: 10px !important;
    width: 400px !important;
    margin: 10px auto !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
}

.dsq-moderate-options table td {
    padding: 4px !important;
}

.dsq-moderate-options table ul {
    margin: 0
    padding: 0 !important;
}

.dsq-moderate-options table li {
    margin-bottom: 5px !important;
}

table.dsq-moderator-settings td {
    vertical-align: top !important;
    border-bottom: solid 1px #fff !important;
    padding: 10px 6px !important;
}

table.dsq-moderator-settings td.last {
    border-bottom: none !important;
}

table.dsq-moderator-settings td p.dsq-form-actions {
    text-align: right !important;
    margin-top: 5px !important;
}

#dsq-popup-message table.dsq-moderator-settings h4,
#dsq-popup-message table.dsq-moderator-settings li {
    margin-bottom: 5px !important;
    padding: 0 !important;
}

span.dsq-options-status {
    margin-left: 10px !important;
    color: #799c42 !important;
}

#dsq-popup-message ul.dsq-thread-help {
    margin: 0 !important;
    padding: 0 !important;
}

#dsq-popup-message ul.dsq-thread-help li {
    margin: 10px 0 !important;
    padding: 0 !important;
    list-style: disc inside !important;
    display: list-item !important;
}

#dsq-popup-message ul.dsq-thread-help li p {
    font-size: 11px !important;
    color: #555 !important;
    padding-left: 5px !important;
}

/**
 * Authentication form
 */
.dsq-auth-form h3 {
    font-size: 16px !important;
    margin: 0 0 16px !important;
    font-weight: bold !important;
}

.dsq-auth-form p {
    margin: 0 0 18px 0 !important;
}

.dsq-auth-form label {
    display: block !important;
    font-weight: bold !important;
    margin: 0 0 5px !important;
}

.dsq-auth-form .dsq-login-input-wrapper {
    display: block !important;
    width: 282px !important; /* same as input because IE7 doesn't support inline-block */
    background: #eee !important;
    padding: 3px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
}

.dsq-auth-form .dsq-login-input-wrapper input {
    padding: 6px !important;
    font-size: 22px !important;
    border: 1px solid #bbb !important;
    width: 268px !important;
    color: #aaa !important;
    background-color: #fff !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    line-height: 28px !important;
}

.dsq-auth-form .dsq-login-input-wrapper input:focus {
    border: 1px solid #666 !important;
    -moz-box-shadow: 0 0 5px #0099FF !important;
    -webkit-box-shadow: 0 0 5px #0099FF !important;
    box-shadow: 0 0 4px #0099FF !important;
}


.dsq-auth-form .dsq-optional-fields {
    display: none !important;
}

.dsq-auth-form .dsq-login-subscribe {
    font-size: 12px !important;
    vertical-align: middle !important;
}

.dsq-auth-form .dsq-login-subscribe p {
    padding: 0 !important;
}

.dsq-popup .dsq-tab-container .dsq-login-subscribe span {
    margin: 0 5px 0 0 !important;
}

.dsq-popup .dsq-tab-container .dsq-login-subscribe label {
    display: inline !important;
    font-weight: normal !important;
}

.dsq-popup .dsq-tab-container input.blur {
    color: #aaa !important;
}

.dsq-popup .dsq-tab-container #guest .group {
    border: 0 !important;
    margin: 0 0 18px !important;
}

.dsq-popup .dsq-tab-container #guest .group p {
    float: left !important;
    margin: 0 8px 0 0 !important;
}

.dsq-popup .dsq-tab-container #guest .group p input {
    width: 124px !important;
    font-size: 14px !important;
    height: 16px !important;
}

.dsq-popup .dsq-login-add-url {
    font-size: .8em !important;
    opacity: .6 !important;
}

.dsq-popup .dsq-tab-container .copy {
    -moz-border-radius:5px 5px 5px 5px !important;
    -webkit-border-radius: 5px !important;
    background-color:#E8F0F7 !important;
    border:1px solid #CDD6DD !important;
    border-top: 0 !important;
    padding:5px !important;
}

/** Thread share */
#dsq-share-step-2 {
    background: url(../../images/themes/narcissus/dsq-loader-dark.gif) 20px 0px no-repeat !important;
    height: 50px !important;
}
#dsq-share-step-2 p {
    padding: 8px 0 0 40px !important;
}