/*
	IMAGES PATH MUST BE ../images/  - do not forget to update
*/

/* - Affiliate Widget Styles - */

/* Single ISBN - GENERAL STYLES */

.affiliate_widget { font-family: Verdana, Arial, Helvetica, sans-serif!important; font-size: 14px!important; position:relative!important; }
.affiliate_widget a:link, .affiliate_widget a:active, .affiliate_widget a:visited { color:#0033FF!important; text-decoration:none!important; font-size:.8em!important; background-image:none!important; border:none!important; padding:0!important; font-weight:normal!important; }
.affiliate_widget .single_large .links, .affiliate_widget .single_medium .links, .affiliate_widget .single_small .links { text-align:left!important; float:right!important; }
.affiliate_widget .single_large .links {width:113px!important;}
.affiliate_widget .single_medium .links {width:113px!important;}
.affiliate_widget .single_small .links {width:110px!important;}
.affiliate_widget .links a:hover { text-decoration:underline!important; }

.affiliate_widget .multiLinks a:hover {text-decoration:underline!important;}
.affiliate_widget .multi_large .multiLinks {width:113px!important;}
.affiliate_widget .multi_medium .multiLinks {width:113px!important;}
.affiliate_widget .multi_small .multiLinks {width:110px!important; _width:110px!important; *width:110px!important;}

.affiliate_widget h4 { border-bottom: solid 1px #000000!important; margin: 0 0 5px 0!important; font-size:14px!important; color:#000000!important; font-family: Verdana, Arial, Helvetica, sans-serif!important; line-height:1.2em!important; padding:0!important; }
.affiliate_widget ul { padding: 0!important; margin:0!important; border:none!important; }
.affiliate_widget li { list-style-type: none !important; list-style-image:none !important; padding: 2px 0!important; line-height:1!important; margin:0!important; border:none!important; }
.affiliate_widget .clear { clear: both!important; }
.affiliate_widget .single_large, .affiliate_widget .single_medium, .affiliate_widget .single_small, .affiliate_widget .multi_large, .affiliate_widget .multi_medium, .affiliate_widget .multi_small { background-color:#EEEEEE!important; border: thin solid #CCCCCC!important; padding: 0 15px 0 15px!important; background-image: url(../images/affiliate_bg.png)!important; background-repeat: repeat-x!important; background-position: left top!important; }

/* - Affiliate Widget Rollover Info Pop Up - */
.affiliate_widget .cover {float:left!important;}
.affiliate_widget .multi_large .cover {width:125px!important;}
.affiliate_widget .multi_medium .cover {width:75px!important;}
.affiliate_widget .multi_small .cover {width:51px!important;}
.affiliate_widget .cover img {border:none!important;}
.affiliate_widget .cover a {text-decoration:none!important;}
.affiliate_widget .cover a:hover {cursor:default!important; background:transparent}
.affiliate_widget .cover a .info {position:absolute!important; left:-150000px!important; background-color:#EEEEEE!important; border:#CCCCCC 2px solid!important; padding:5px!important; z-index:500!important; color:#333333!important; text-align:left!important;}
.affiliate_widget .cover a:hover .info {position:absolute!important; left:0!important;}
.affiliate_widget .cover .info p {margin:0!important; line-height:1.5em!important;}

/* - .info Div Sizes - */

.affiliate_widget .single_large .cover a:hover .info {width:259px!important; margin-top: -160px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .single_large .cover a .info p {font-size:90%!important;}

.affiliate_widget .single_medium .cover a:hover .info {width:199px!important; margin-top: -95px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .single_medium .cover a .info p {font-size:90%!important;}

.affiliate_widget .single_small .cover a:hover .info {width:170px!important; margin-top: -60px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .single_small .cover a .info p {font-size:100%!important;}

.affiliate_widget .multi_large .cover a:hover .info {width:215px!important; margin-top:-135px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .multi_large .cover a .info p {font-size:85%!important;}

.affiliate_widget .multi_medium .cover a:hover .info {width:175px!important; margin-top:-85px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .multi_medium .cover a .info p {font-size:70%!important;}

.affiliate_widget .multi_small .cover a:hover .info {width:155px!important; margin-top:-55px!important; _margin-top: 0px!important; *margin-top: 0px!important;}
.affiliate_widget .multi_small .cover a .info p {font-size:85%!important;}


/* - Author Affiliate Widget Tabs - */
.largeTab a:link, .mediumTab a:link, .smallTab a:link, .largeTab a:visited, .mediumTab a:visited, .smallTab a:visited, .largeTab a:active .mediumTab a:active .smallTab a:active { color:#666666!important; font-weight: bold!important; }
.largeTab a:hover, .mediumTab a:hover, .smallTab a:hover {text-decoration:underline!important;}
.affiliate_widget .largeTab { background-image: url(../images/tab_large.gif); width: 275px; height:23px; padding: 3px 0 0 0; background-repeat:no-repeat; background-position: center top; text-align:center; }
.affiliate_widget .mediumTab { background-image: url(../images/tab_medium.gif); width: 215px; height:18px; padding: 1px 0 0 0; background-repeat:no-repeat; background-position: center top; text-align:center; }
.affiliate_widget .smallTab { background-image: url(../images/tab_small.gif); width: 190px; _width:200px!important; *width:200px!important; height:16px; padding: 1px 0 0 0; background-repeat:no-repeat; background-position: center top; text-align:center; }
.affiliate_widget .largeTab a { font-size: 10px!important; display:block!important; width:95px!important; margin:0 auto!important; }
.affiliate_widget .mediumTab a { font-size: 9px!important; display:block!important; width:85px!important; margin:0 auto!important; }
.affiliate_widget .smallTab a { font-size: 8px!important; display:block!important; width:75px!important; margin:0 auto!important; }

/* All Widget Sizes - defines the width and font size of each widget */

.affiliate_widget .single_large { width: 250px!important; padding: 10px!important; position:relative!important;}
.affiliate_widget .single_medium { width: 200px!important; _width: 200px!important; *width: 200px!important; font-size:85%!important; padding: 10px!important; position:relative!important; }
.affiliate_widget .single_small { width: 170px!important; _width:165px!important; *width:165px!important; font-size:85%!important; padding: 8px!important; position:relative!important; }
.affiliate_widget .multi_large { width: 250px!important; height: 500px!important; padding: 0 10px!important; }
.affiliate_widget .multi_medium { width: 200px!important; height: 360px!important; padding: 0 10px!important; }
.affiliate_widget .multi_small { width: 170px!important; _width: 174px!important; *width: 174px!important; height:300px!important; font-size: 85%!important; padding: 0 8px!important; }

/* Multiple ISBN Widget - defining the height in the javascript */

.affiliate_widget li.jcarousel-item div.multiLinks a:hover { text-decoration:underline!important; }/* Underline links for multi ISBN widget */

/* Small */
.affiliate_widget .multi_small .jcarousel-skin-default .jcarousel-clip-vertical { height: 235px!important; }
.affiliate_widget .multi_small .jcarousel-skin-default .jcarousel-item { height: 112px!important; margin-bottom: 10px!important; }
.affiliate_widget .multi_small li.jcarousel-item div a { margin: 5px 0!important; }

/* Medium */
.affiliate_widget .multi_medium .jcarousel-skin-default .jcarousel-clip-vertical { height: 300px!important; }
.affiliate_widget .multi_medium .jcarousel-skin-default .jcarousel-item { height: 150px!important; margin-bottom: 5px!important; }
.affiliate_widget .multi_medium li.jcarousel-item div a { margin: 10px 0!important; }

/* Large */
.affiliate_widget .multi_large .jcarousel-skin-default .jcarousel-clip-vertical { height: 430px!important; }
.affiliate_widget .multi_large .jcarousel-skin-default .jcarousel-item { height: 215px!important; margin-bottom: 5px!important; }
.affiliate_widget .multi_large li.jcarousel-item div a { margin: 12px 0!important; }

/*  Vertical Buttons */

/* Defining the button images here */
.jcarousel-skin-default .jcarousel-next-vertical { position: absolute; width: 32px; height: 32px; cursor: pointer; background: transparent url(../images/next-vertical.png) no-repeat 0 0; /*IE 6 image*/ _background-image:url(../images/next-vertical.gif); }
.jcarousel-skin-default .jcarousel-prev-vertical { position: absolute; width: 32px; height: 32px; cursor: pointer; background: transparent url(../images/prev-vertical.png) no-repeat 0 0;/*IE 6 image*/ _background-image:url(../images/prev-vertical.gif); }

/* Next button (down arrow) */
.affiliate_widget .multi_small .jcarousel-skin-default .jcarousel-next-vertical {bottom: -35px; _bottom: 26px; left: 70px;}
.affiliate_widget .multi_medium .jcarousel-skin-default .jcarousel-next-vertical {bottom: -33px; _bottom: 26px; left: 80px;}
.affiliate_widget .multi_large .jcarousel-skin-default .jcarousel-next-vertical {bottom: -30px; _bottom: 26px; left: 100px;}

/* Previous button (up arrow) */
.affiliate_widget .multi_small .jcarousel-skin-default .jcarousel-prev-vertical { top: -30px; left: 70px; }
.affiliate_widget .multi_medium .jcarousel-skin-default .jcarousel-prev-vertical { top: -30px; left: 80px; }
.affiliate_widget .multi_large .jcarousel-skin-default .jcarousel-prev-vertical { top: -30px; left: 100px; }

/* Button states */
.jcarousel-skin-default .jcarousel-next-vertical:hover { background-position: 0 -32px; }
.jcarousel-skin-default .jcarousel-next-vertical:active { background-position: 0 -64px;}
.jcarousel-skin-default .jcarousel-next-disabled-vertical, .jcarousel-skin-default .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-default .jcarousel-next-disabled-vertical:active { cursor: default; background-position: 0 -96px; }

.jcarousel-skin-default .jcarousel-prev-vertical:hover { background-position: 0 -32px; }
.jcarousel-skin-default .jcarousel-prev-vertical:active { background-position: 0 -64px; }
.jcarousel-skin-default .jcarousel-prev-disabled-vertical, .jcarousel-skin-default .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-default .jcarousel-prev-disabled-vertical:active { cursor: default; background-position: 0 -96px; }

/* Jcarousel CSS */

/* This <div> element is wrapped by jCarousel around the list and has the classname "jcarousel-container". */
.jcarousel-container { position: relative; margin-top:30px; }
.jcarousel-clip { z-index: 2; padding: 0; margin: 0; overflow: hidden; position: relative;}
.jcarousel-list { z-index: 1; overflow: hidden; position: relative; top: 0; left: 0; margin: 0; padding: 0;}
.jcarousel-list li, .jcarousel-item { list-style: none; }
/* We set the width/height explicitly. No width/height causes infinite loops. */
li.jcarousel-item div {float:right!important; text-align:left!important;}

li.jcarousel-item div a {display: block!important; }
/* The buttons are added dynamically by jCarousel before the <ul> list (inside the <div> described above) and have the classnames "jcarousel-next" and "jcarousel-prev" */
.jcarousel-next { z-index: 3; display: none; }
.jcarousel-prev { z-index: 3; display: none; }

/* - Only in the External CSS - */
.affiliate_widget ul li:hover, .affiliate_widget a:hover {background-color:transparent!important;}
.affiliate_widget ul li a:link, .affiliate_widget ul li a:active, .affiliate_widget ul li a:visited {border:none!important; padding:0!important;}